src/main/resources/payloadScheme.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.release11.com/modzeleg/nbp/buysell"
           xmlns:nbp="http://www.release11.com/modzeleg/nbp/buysell"
           targetNamespace="http://www.release11.com/modzeleg/nbp/buysell"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:element name="nbp:ArrayOfExchangeRatesTable">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nbp:ExchangeRatesTable" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nbp:Table" type="xs:string"/>
                            <xs:element name="nbp:No" type="xs:string"/>
                            <xs:element name="nbp:TradingDate" type="xs:string"/>
                            <xs:element name="nbp:EffectiveDate" type="xs:string"/>
                            <xs:element ref="nbp:Rates"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="nbp:Rates">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nbp:Rate" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nbp:Currency" type="xs:string"/>
                            <xs:element name="nbp:Code" type="xs:string"/>
                            <xs:element name="nbp:Bid" type="xs:string"/>
                            <xs:element name="nbp:Ask" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>