src/main/resources/scheme.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.release11.com/modzeleg/nbp/buysell"
           targetNamespace="http://www.release11.com/modzeleg/nbp/buysell"
           elementFormDefault="qualified">

    <xs:complexType name="ArrayOfExchangeRatesTableType">
        <xs:sequence>
            <xs:element ref="ExchangeRatesTable" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfExchangeRatesTable" type="ArrayOfExchangeRatesTableType"/>

    <xs:complexType name="ExchangeRatesTableType">
        <xs:sequence>
            <xs:element ref="Table"/>
            <xs:element ref="No"/>
            <xs:element ref="TradingDate"/>
            <xs:element ref="EffectiveDate"/>
            <xs:element ref="Rates"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ExchangeRatesTable" type="ExchangeRatesTableType"/>

    <xs:element name="Table" type="xs:string"/>
    <xs:element name="No" type="xs:string"/>
    <xs:element name="TradingDate" type="xs:string"/>
    <xs:element name="EffectiveDate" type="xs:string"/>

    <xs:complexType name="RatesType">
        <xs:sequence>
            <xs:element ref="Rate" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Rates" type="RatesType"/>

    <xs:complexType name="RateType">
        <xs:sequence>
            <xs:element ref="Currency"/>
            <xs:element ref="Code"/>
            <xs:element ref="Bid"/>
            <xs:element ref="Ask"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Rate" type="RateType"/>

    <xs:element name="Currency" type="xs:string"/>
    <xs:element name="Code" type="xs:string"/>
    <xs:element name="Bid" type="xs:string"/>
    <xs:element name="Ask" type="xs:string"/>

</xs:schema>